.align {
  text-align: right;
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
}

.button {
  background-color: #299ad7;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.center {
  
}