.App {
  text-align: center;
}

.horizontalFlex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.pieChart {
  width: 300px;
}

.description {
  font-size: 15px;
  color: #999;
}